<a href="https://colab.research.google.com/github/PalanivelH/PalanivelH/blob/main/Python_Exercise_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
D="My name \n is \n  palanivel"
print(D)
print(D.splitlines())
print(D.splitlines(True))
print(D.split(" "))

My name
 is
  palanivel
['My name ', ' is ', '  palanivel']
['My name \n', ' is \n', '  palanivel']
['My', 'name', '\n', 'is', '\n', '', 'palanivel']

String - Split related Functions

In [ ]:
U='P,A,L,A,N,I'
print(U)
print(U.split(","))
print(U.splitlines())

P,A,L,A,N,I
['P', 'A', 'L', 'A', 'N', 'I']
['P,A,L,A,N,I']

In [ ]:
P='   Police    '
print(len(P))
print(P.strip())
print(P.lstrip())
print(len(P.lstrip()))
print(len(P.rstrip()))

13
Police
Police
10
9

In [ ]:
L='23-09-2022'
print(L.partition("-"))

('23', '-', '09-2022')

String Manipulation or Slicing

In [ ]:
F='Friend'
print(F)
print(F[0:3]) 
print(F[1:5])
print(F[0:8])
print(F[:5])
print(F[1:])
print(F[-6:])
print(F[1:-1])
print(F[::-1])

Friend
Fri
rien
Friend
Frien
riend
Friend
rien
dneirF

Arithmetic Operations

In [ ]:
O=1
P=2

print(O+P)
print(O-P)
print(O*P)
print(O/P)
print(O**P)
print(O//P)
print(O%P)

3
-1
2
0.5
1
0
1

Arithmetic Assignment Operations

In [ ]:
E=8
print(E)
E+=8  #addition assignment
print(E)
E-=8 #division assignment
print(E)
E*=1 #multiplication assignment
print(E)
E/=2 #division assignment
print(E)
E**=1  #exponentiation
print(E)
E//=8  #floor division
print(E)

8
16
8
8
4.0
4.0
0.0

Comparison or Relational Operaters

In [ ]:
w=2
p=2
print(w==p)
print(w!=p)
print(w<p)
print(w>p)
print(w>=p)
print(w<=p)

True
False
False
False
True
True

Logical Operators

In [ ]:
c=9
print(c>9 and c<=10)
print(c>9 or c<=9)
print(not(c>=9 or c<=9))

False
True
False

Bitwise Operators

In [ ]:
a=10
b=8
print(a & b) #AND
print(a | b) #OR
print(a^b)   #XOR
print(~a)    #NOT
print(~b)
print(b>>2)  #signed right shift
print(b<<2)  #zero fill left shift

8
10
2
-11
-9
2
32

If statement

In [ ]:
N = int(input("Enter the value : "))
if N%2==0:
  print(N,"is even number")
else:
 print(N,"is Odd number")

Enter the value : 45
45 is Odd number

In [ ]:
P=int(input())
if P%2==0:
  print("even")
else:
  print("Odd")

0
even

If Else Statement

In [ ]:
Name = input()
Age = int(input())
if Age >= 18:
  print(Name, "Age is ",Age,"eligible for Vote")
else:
  print(Name,"age is",Age,"not eligible for Vote")

Vel
13
Vel age is 13 not eligible for Vote

In [ ]:
student_name=input()
Mark=int(input())
if Mark >=35:
 print(student_name,"has",Mark,"marks in this exam = Pass")
else:
 print(student_name,"has",Mark,"marks in this exam = Fail")

sam
23
sam has 23 marks in this exam = Fail

Elif statement

In [ ]:
days =int(input())

if days == 0:
  print("No Fine")
elif (days>=1 and days<=5):
  print("Fine amount is ",days*1)
elif (days>5 and days<=10):
  print("Fine amount is ",days*5)
else:
  print("License will be cancelled")

1
Fine amount is  1

Nested If

In [ ]:
s1=int(input())
s2=int(input())
s3=int(input())
total=s1+s2+s3
avg=total/3.0
print("Total Marks :", total)
print("Total Average :", avg)
if (s1>=35 and s2>=35 and s3>=35):
  print("Pass")
  if (avg>=90 and avg<=100):
   print("A Grade")
  elif(avg<=89 and avg>=70):
   print("B Grade")
  else:
   print("C Grade")
else:
  print("Fail")

78
67
89
Total Marks : 234
Total Average : 78.0
Pass
B Grade