<a href="https://colab.research.google.com/github/PalanivelH/PalanivelH/blob/main/Python_Exercise_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Recursive Function

In [ ]:
#Factorial = 8 -> 8*7*6*5*4*3*2*1

def factorial(c):
  pass
  

factorial(5)

In [ ]:
def factorial(c):

  if c==1:
    return 1
  else:
    return(c*factorial(c-1))


factorial(5)

120

In [ ]:
def sum(r):
  if r==0:
    return 0
  else:
    return(r+sum(r-1))
 

sum(5)

15

In [ ]:
def subtraction(y):
  if y==0:
    return 0 
  else:
    return (y-subtraction(y-1))

subtraction(1)

5

In [ ]:
def addition(y):
  if y==10:
    return 0 
  else:
    return (y+addition(y+1))

addition(1)

45

In [ ]:
def factorial(z):
  if z==6:
    return 1
  else:
    return(z*factorial(z+1))


factorial(1)

120

In [ ]:
print(5-4-3-2-1-0)
print(9+8+7+6+5+4+3+2+1)
print(5*4*3*2*1)

-5
45
120

Lambda Function

In [ ]:
a= lambda v:v+100
print(a(100))

c= lambda v,t:v*t
print(c(10,10))

200
100

Passing List as argument in Function

In [ ]:
def gh (total):
  return sum(total)


print(gh([1,2,3,4,5]))

15

In [ ]:
def total(marks):
  return sum(marks)

total([23,87,89,56])

255

Date and Time

In [ ]:
import datetime as DT

td=DT.date.today()

print(td)

2022-06-09

In [ ]:
import datetime as dt

d = dt.date(2019, 12, 10)

print(d)

print(d.year)
print(d.month)
print(d.day)

2019-12-10
2019
12
10

In [ ]:
import datetime as ddtt

current=ddtt.datetime.now()
current_1=ddtt.time()

print(current)
print(current_1)

2022-06-09 10:32:33.187496
00:00:00

In [ ]:
import datetime as dt

var=dt.time(11,56,34)

print(var.hour)
print(var.second)

var_1=dt.date(1997,12,6)

print(var_1.month)
print(var_1.day)

var_2=dt.datetime.now()

print(var_2.time)

var_3=dt.date.today()

var_4=dt.datetime.today()

print(var_4.date())
print(var_4.time())

print(var)
print(var_1)
print(var_2)
print(var_3)
print(var_4)

11
34
12
6
<built-in method time of datetime.datetime object at 0x7f44da0bc2a0>
2022-06-09
10:55:08.391409
11:56:34
1997-12-06
2022-06-09 10:55:08.391253
2022-06-09
2022-06-09 10:55:08.391409

In [ ]:
import datetime as dt

current=dt.date.today()

new_year=dt.date(2023,1,1)

diff=new_year-current

print(diff)

206 days, 0:00:00

In [ ]:
import datetime as dt

v1=dt.datetime(2019,8,9,12,34,56)
v2=dt.datetime(2022,9,8,12,56,12)
v3=v2-v1
print(v3)

v=dt.datetime.now()

print(v)

s=v.strftime("%d/%b/%Y")
s1=v.strftime("%D")
print(s)
print(s1)

1126 days, 0:21:16
2022-06-09 11:36:44.750304
09/Jun/2022
06/09/22

In [ ]:
import datetime as st

v=st.datetime.today()

s=v.strftime("%X")

print(v)
print(s)

2022-06-09 12:37:30.424055
12:37:30

Math Function

In [ ]:
import math

print(math.sqrt(9))
print(math.factorial(5))
print(math.sin(1))
print(math.ceil(8.2))
print(math.floor(8.45555))
print(math.fabs(8))
print(math.pow(1,2))
print(math.log2(2))
print(math.log10(2))
print(math.pi)
print(math.e)
print(math.pi*2)

3.0
120
0.8414709848078965
9
8
8.0
1.0
1.0
0.3010299956639812
3.141592653589793
2.718281828459045
6.283185307179586

Try Block, Except, Else, Finally

In [ ]:
try:
  a=10/0

except Exception as e:

 print(e)

division by zero

In [ ]:
a=10/0
print(a)

ZeroDivisionError: ignored

In [ ]:
try:
 a=5/5
except Exception as i:
 print(i)
else:

  print(a)

1.0

In [ ]:

try:
  e=2/2
  print(e)

except Exception as q:
  print(q)

finally:
  print('It is completed')

1.0
It is completed

In [ ]:
try:
  r=3/3
  print("Enter the value :", r)

except Exception as d:
  print(d)

finally:
  print('Awesome')

Enter the value : 1.0
Awesome